body {
  margin: 0;
}
nav,
footer {
  background-color: black;
  height: 100px;
  width: 100%;
  color: white;
  text-align: center;
}

.componentePrincipal {
  height: 100px;
  width: 80%;
  background-color: green;
  margin: 50px auto;
}
.medio {
  height: 100px;
  width: 80%;
  background-color: rgb(109, 149, 109);
  margin: 50px auto;
}

.empleados {
  width: 80%;
  background-color: rgb(0, 128, 109);
  margin: 50px auto;
}
